# Development Settings
NODE_ENV=production                              # development | production
PORT=17171                                       # server port
DATABASE_URL="file:./dev.db"                     # database location
