# build output
dist/
public/

# generated types

# code
.vscode/

# prisma
/src/generated/prisma
/prisma/migrations
.env
*.db
*.db.bak

# dependencies
node_modules/

# logs
pnpm-debug.log*
*.log

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
