ALLOW_ORIGIN="http://localhost:4321,https://blog.example.top"
RESEND_API_KEY="re_xxxxxxxx"
RESEND_FROM_EMAIL="<notify@notifications.example.top>"
EMAIL_ADDRESS="admin@example.top"
ADMIN_NAME="Admin"
ADMIN_PASSWORD="password"
SITE_NAME="Momo Blog"